$blue: #009cc3;
$yellow: #ffcc00;
$red: #ff6447;
$white: white;

$thumb: 499px;
$handheld: 500px;
$handheld-and-up: 500px;
$pocket: 800px;
$lap: 801px;
$lap-and-up: 801px;
$portable : 1024px;
$desk: 1025px;
$widescreen: 1160px;