@import "../scss/variables";

.App {
  text-align: center;
  &--title{
    color: $blue;
    font-size: 4vw;
  }
  &--title {
    margin: 1vh;
  }
}

@media only screen and (max-width: $portable) {
  .App--title {
    font-size: 8vw;
  }
}