@import "../scss/variables";

.App {
  text-align: center;
  &--title{
    color: $blue;
    font-size: 4vw;
  }
  &--title {
    margin: 1vh;
  }
}

.circle--title {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  display: inline-block;
  &-red{
    background-color: $red;
  }
  &-yellow{
    background-color: $yellow;
  }
}

@media only screen and (max-width: $portable) {
  .App--title {
    font-size: 8vw;
  }
  .circle--title {
    width: 4vw;
    height: 4vw;
  }
}